.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.96);
}

.title {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}

.start-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #f8f9fa;
  color:rgb(0, 0, 0);
  font-size: 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-button:hover {
  background-color:rgb(56, 163, 82);
}