.about {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.background {
  background-color: #e9d8a6;
  padding: 20px;
  border-radius: 10px;
  max-width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.instructions {
  margin: 20px;
  font-size: 25px;
}

.instructions ul {
  text-align: left;
  list-style-position: inside;
  padding-left: 0; 
  margin: 0;
}

.about-button {
  background-color: #0a9396;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  width: fit-content;
  transition: background-color 0.3s ease;
}

.about-button:hover {
  background-color:rgb(21, 198, 201);
}

li {
  padding: 10px;
}