<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <h2>{{ title }}</h2>
    <p class="modal-message" [innerHTML]="message">{{ message }}</p>
    <p class="modal-statement" *ngIf="statement">{{ statement }}</p>
    <div class="modal-actions">
      <button class="home-button" routerLink="/home">Home</button>
      <button 
        *ngIf="title === 'Correct!!!'" 
        class="next-button" 
        (click)="next()"
      >
        Next Question
      </button>
      <button 
        *ngIf="title === 'Incorrect!!!'" 
        class="play-again-button" 
        (click)="newGame()"
      >
        Play Again
      </button>
    </div>
  </div>
</div>