.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background:rgb(253, 211, 134);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  max-width: 90%; 
  width: 400px;
  text-align: center;
}

.modal-actions button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
}

.modal-actions button:first-child {
  background-color: #ca6702;
  color: white;
  border: none;
  border-radius: 5px;
}

.modal-actions button:first-child:hover {
  background-color:rgb(166, 83, 0);
}

.modal-actions button:last-child {
  background-color: #0a9396;
  color: white;
  border: none;
  border-radius: 5px;
}

.modal-actions button:last-child:hover {
  background-color:rgb(0, 103, 105);
}

.modal-message {
  font-size: 24px;
}