.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: rgb(255, 235, 106);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  max-width: 90%; 
  width: 400px;
  text-align: center;
}

.modal-actions button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.modal-actions button:first-child {
  background-color:rgb(245, 90, 79);
  color: white;
  border: none;
  border-radius: 5px;
}

.modal-actions button:last-child {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

.modal-message {
  font-size: 20px;
}