.question {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.background {
  background-color:rgb(108, 179, 251);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.question-header {
  text-decoration: underline;
  font-size: 36px;
}

.question-container {
  background-color:rgb(187, 199, 251);
  padding: 20px;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.answers-container button {
  background-color: #f9f9f9;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.answers-container button:hover {
  background-color:rgb(251, 200, 158);
}

.answers-container button.selected {
  background-color:rgb(255, 166, 93);
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #666;
}

.submit-button {
  background-color: #52b69a;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: fit-content;
}

.submit-button:hover {
  background-color:rgb(21, 198, 201);
}


.total-winnings {
  font-size: 24px;
  margin-top: 10px;
  padding: 10px;
  background-color: #f4f1de;
  align-self: flex-start;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}