<main class="question">
  <div class="background">
    <h1 class="question-header">{{ headerText }}</h1>
    <div class="question-container">
      <h2>{{ currentQuestion.question }}</h2>
      <div class="answers-container">
        <button 
          *ngFor="let answer of shuffledAnswers"
          (click)="selectAnswer(answer)"
          [class.selected]="selectedAnswer === answer"
        >
          {{ answer }}
        </button>
      </div>
      <button 
        [disabled]="!selectedAnswer" 
        (click)="checkAnswer()"
        class="submit-button"
      >
        Submit
      </button>
    </div>
    <app-response-modal 
      [showModal]="showModal"
      [title]="modalTitle"
      [message]="modalMessage"
      (onClose)="resetGame()"
      (onNext)="nextQuestion()"
    ></app-response-modal>
  </div>
</main>

