<div class="container">
  <h1 class="question-header">Are you smarter than a 1st grader?</h1>
  <div class="question-container">
    <h2>{{ currentQuestion.question }}</h2>
    <div class="answers-container">
      <button 
        *ngFor="let answer of shuffledAnswers"
        (click)="selectAnswer(answer)"
        [class.selected]="selectedAnswer === answer"
      >
        {{ answer }}
      </button>
    </div>
    <button 
      [disabled]="!selectedAnswer" 
      (click)="checkAnswer()"
      class="submit-button"
    >
      Submit
    </button>
  </div>
</div>

