.home {
  text-align: center;
  margin-top: 20px;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.main-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.main-button:hover {
  background-color: #45a049;
}