.home {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.background {
  background-color: #e9d8a6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.logo {
  width: 350px;
  margin-bottom: 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.main-button {
  background-color: #0a9396;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.main-button:hover {
  background-color:rgb(21, 198, 201);
}